/*Changes the font for all text on every page*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('colors.css');

:root {
  --navbar-size: 5vh;
  --dropdown-content-size: 160px;
}

* {
  font-family: 'Nunito Sans';
  --navbar-background: var(--foreground);
  --navbar-foreground: var(--background);
  --dropdown-button-foreground: var(--background);
  --dropdown-button-background: var(--foreground);
  --dropdown-button-hover-foreground: var(--foreground);
  --dropdown-button-hover-background: var(--background);
  --dropdown-content-background: var(--dropdown-button-background);
  --dropdown-content-foreground: var(--dropdown-button-foreground);
  --dropdown-content-hover-background: var(--accent);
  --dropdown-content-hover-foreground: var(--dropdown-button-hover-foreground);
}

body {
  --background: rgb(25, 85, 40);
  --foreground: rgb(255, 255, 255);
  --accent: rgb(255, 196, 0);
  font-family: 'Arial, Helvetica, serif';
  color: var(--foreground);
  max-width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  background: var(--background);

  .border {
    border: 2px var(--accent) dashed;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
  }

  .star {
    width: 50px;
    height: 50px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--navbar-size);
    background: var(--navbar-background);

    h1 {
      margin: 0px;
      color: var(--navbar-foreground);
    }

    .title {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        height: var(--navbar-size);
        width: var(--navbar-size);
        pointer-events: none;
      }
    }
  }
}

/*Background colour for all pages (body of page)*/
h1 {
  font-size: 40px;
  text-align: left;
}

/*This shows the size of the text
the alignment of the text to the centre
the font I chose*/
h2 {
  font-size: 30px;
  margin-bottom: 0px;
  font: Montserrat;
  color: var(--accent);
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--dropdown-button-background);

  .dropbtn {
    color: var(--dropdown-button-foreground);
    background: var(--dropdown-button-background);
    padding: 16px;
    font-size: 16px;
    border: none;
    height: var(--navbar-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contains the dropdown items */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-content-background);
    color: var(--dropdown-content-foreground);
    min-width: var(--dropdown-content-size);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;

    a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  }
}

/* Show the hidden content */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the colors of the dropdown */
.dropdown:hover .dropbtn {
  background: var(--dropdown-button-hover-background);
  color: var(--dropdown-button-hover-foreground);
}

.dropdown-content a:hover {
  background-color: var(--dropdown-content-hover-background);
  color: var(--dropdown-content-hover-foreground)
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }
}